.banner {
  background-image:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("../../images/coucher-soleil.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 15px;
}

.banner h2 {
  color: white;
  font-size: 28px;
  font-weight: lighter;
  opacity: 0.9;
  margin-bottom: 30px;
}
