.btn-primary {
  display: inline-block;
  background-color: #2a9d8f;
  color: white;
  padding: 14px 22px;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #21867a;
}
